# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs / ETL outputs
logs/
*.log

# OS / Editor noise
.DS_Store

# Docker
docker-data/

# pg_dump
sql/netflix.sql
netflix_db.sql
